<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../statics/css/credits.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" media="only screen and only (orientation: landscape))">
    <title>E.M.J.S.C.S.S.B.A.  |  Credits</title>
  </head>
  <body>
    <header>
      <section>
        <a href="pagPrin.html">
          <div class="title">
            <div class="acronimo">
              <span>E.M.J.S.C.S.S.B. Arcade</span>
            </div>
            <div class="meaning">
              <span>Ellon Musk Jason Smith Chrisler Super Styled Bannana Arcade</span>
            </div>
          </div>
        </a>
        <div class="nav">
          <nav>
            <a href="juego.html" class="duro">Laberinth</a>
            <a href="juego2.html" class="claro">Tetris</a>
            <a href="juegoRL.html" class="duro">Galga</a>
            <a href="scores.html" class="claro">Scores</a>
            <a href="credits.html" class="duro">Credits</a>
          </nav>
        </div>
        <div class="cerrar">
          <img src="https://images.vexels.com/media/users/3/152627/isolated/preview/11b07cbe1865da86f21cd6abe0a4853a-tatuaje-de-calavera-vintage-by-vexels.png" alt="Calavera/Cerrar Sesión Actual">
        </div>
      </section>
    </header>
    <div class="titulo">
      <h1>Credits</h1>
    </div>
    <section class="creditsfield">
      <div class="credits1">
        <div class="foto1">
          <img src="../../statics/media/img/Abrham.jpg" alt="Abrham">
        </div>
        <div class="datos1">
          <p>Nombre</p><span class="dato">Abrahm López</span>
          <p>Edad</p><span class="dato">17</span>
          <p>Sexo</p><span class="dato">Masculino</span>
          <p>Prefiere</p><span class="dato">Hablo 7 midiomas, me gusta organizar conferencias, iba a crear un ted talks en la prepa pero el paro lo arruino</span>
          <div class="logros">
            <p>Logros</p>
            <span class="dato">Manejar animaciones<span class="important">Crear una historia depresiva</span> <span class="important">Logro</span>, Logro, Logro, Logro, <span class="important">Logro</span>, Logro, Logro,
                 Logro, Logro, <span class="important">Logro</span>, Logro, Logro, Logro, Logro, Logro, Logro, Logro, <span class="important">Logro</span>, Logro, Logro,
                   Logro, Logro, Logro, Logro, <span class="important">Logro</span></span>
          </div>
        </div>
      </div>
      <div class="credits2">
        <div class="datos2">
          <p>Nombre</p><span class="dato">Gabriel Rivas</span>
          <p>Edad</p><span class="dato">17</span>
          <p>Sexo</p><span class="dato">Masculino</span>
          <p>Prefiere</p><span class="dato">Me gsuta la robotica, programar y jugar videojuegos</span>
          <div class="logros">
            <p>Logros</p>
            <span class="dato">Programar en JS<span class="important">Usar divs sin que se muriera el programa</span> <span class="important">Logre hacer un juego en js YEAAAh</span>
          </div>
        </div>
        <div class="foto2">
          <img src="../../statics/media/img/Gavo.jpeg" alt="Gavo">
        </div>
      </div>
      <div class="credits3">
        <div class="foto3">
          <img src="../../statics/media/img/Max.jpeg" alt="Max">
        </div>
        <div class="datos3">
          <p>Nombre</p><span class="dato">Maximiliano Ruíz</span>
          <p>Edad</p><span class="dato">16</span>
          <p>Sexo</p><span class="dato">Masculino</span>
          <p>Prefiere</p><span class="dato">...</span>
          <div class="logros">
            <p>Logros</p>
            <span class="dato">Logro, <span class="important">Logro</span> ,Logro, Logro, Logro, Logro, <span class="important">Logro</span>, Logro, Logro, Logro, <span class="important">Logro</span>, Logro, Logro,
                 Logro, Logro, <span class="important">Logro</span>, Logro, Logro, Logro, Logro, Logro, Logro, Logro, <span class="important">Logro</span>, Logro, Logro,
                   Logro, Logro, Logro, Logro, <span class="important">Logro</span>, Logro, Logro, Logro, Logro, Logro, Logro.</span>
          </div>
        </div>
      </div>
      <div class="credits4">
        <div class="datos4">
          <p>Nombre</p><span class="dato">Diego Muriel</span>
          <p>Edad</p><span class="dato">16</span>
          <p>Sexo</p><span class="dato">Masculino</span>
          <p>Prefiere</p><span class="dato">Música, Juegos, Amigos</span>
          <div class="logros">
            <p>Logros</p>
            <span class="dato">Entender CSS, <span class="important">Generar un maquetado rápidamente</span> ,usar Figma correctamente, mntener una buena comuniación con el equipo, organización mejorada, análizis del proyecto, <span class="important">Implementaación de To-Do lists</span>, diseño de ventanas, paletas de colores correctas, se ocupan corrientes de diseño, <span class="important">Usé la psicología del color</span>,
            <span class="important">Diseño de Música</span>, Implementción de errores, Imágenes de errores ideadas personalmente, cambios estéticos razonables, Disposición a ayudar y sugerir, Mejorada emptía, Mejorda Organización, escuchar mucha música, <span class="important">Entendimiento del proyecto</span>, llevar un registro en Git-Hub, mejorar la organización del directorio de archivos,
                   mejroado entusiasmo.
          </div>
        </div>
        <div class="foto4">
          <img src="../../statics/media/img/Diego.jpg" alt="Diego">
        </div>
      </div>
    </section>
    <section class="aviso">
      <div>
        <img src="../../statics/media/img/Ups-tamanio.jpg" alt="auste el tamaño a Full Screen">
      </div>
    </section>
    <script type="text/javascript" src="../../dynamics/js/pagPrin.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <noscript>
      <a href="https://www.javascript.com/"><img src="../../statics/media/img/script.jpg" alt="Es necesario Java Script para el funcionamiento de la página, gracias"></a>
    </noscript>
    <footer>
      <span>Ellon Musk Jason Smith Chrisler Super Styled Bannana Arcade te agradece por jugar con nosotros<br>
            Tiene nuestra preferencia<br>
            B)
      </span>
      <div class="copy">
        <p>Copyright © 2010 by E.M.J.S.C.S.S.B.A.</p>
        <span>All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying,
          recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied
          in critical reviews and certain other noncommercial uses permitted by copyright law. For permission requests, write to the publisher, addressed
           “Attention: Permissions Coordinator,” at the address below.</span>
      </div>
    </footer>
  </body>
</html>
