<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head> <!-- CONFIGURACIONES DE LA PÁGINA ENTERA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../statics/css/juego2.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" media="only screen and only (orientation: landscape))">
    <title>E.M.J.S.C.S.S.B.A.  |  Galaga</title>
  </head>
  <body>
    <header>
      <section><!-- TEXTO DE E.M.J.S.C.S.S.B. Arcade -->
        <a href="pagPrin.html">
          <div class="title">
            <div class="acronimo">
              <span>E.M.J.S.C.S.S.B. Arcade</span>
            </div>
            <div class="meaning">
              <span>Ellon Musk Jason Smith Chrisler Super Styled Bannana Arcade</span>
            </div>
          </div>
        </a>
        <div class="nav">
          <nav><!-- BARRA DE NAVEGACIÓN -->
            <a href="juego.html" class="duro">Laberinth</a>
            <a href="juego2.html" class="claro">Tetris</a>
            <a href="juegoRL.html" class="duro">Galaga</a>
            <a href="scores.html" class="claro">Scores</a>
            <a href="credits.html" class="duro">Credits</a>
          </nav>
        </div>
      </section>
    </header>
    <section class="botones"><!-- BOTONES PARA GUARDAR Y SALIR, SALIR SIN GUARDAR Y REINICIAR (FUNCIONAN EN LOS JUEGOS) -->
      <div class="guardar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTza0MST0zLggPSgB7ni_m0Jgc9vMaCBUQMcg05Fa3IR-lZ0fwn&usqp=CAU" alt="Salir y guardar">
      </div>
      <div class="noguardar">
        <img src="https://images.vexels.com/media/users/3/152627/isolated/preview/11b07cbe1865da86f21cd6abe0a4853a-tatuaje-de-calavera-vintage-by-vexels.png" alt="Salir sin guardar">
      </div>
      <div class="reiniciar">
        <img src="https://pluspng.com/img-png/restart-png-restart-icon-image-32278-980.png" alt="reiniciar">
      </div>
    </section>
    <div class="titulo"><!-- TÍTULO DEL JUEGO -->
      <h1>Galaga</h1>
    </div>
    <section class="gamefield"><!-- ÁREA DONDE EL JUEGO SE DESAROLLARÁ -->
      <div class="juego">
        SOY Galaga
      </div>
    </section>
    <section class="aviso">
      <div>
        <img src="../../statics/media/img/Ups-tamanio.jpg" alt="auste el tamaño a Full Screen">
      </div>
    </section>
    <section class="descgame">
      <h3>Descripción</h3><!-- UNA DESCRIPCION DEL JUEGO -->
      <p>Descripción de por lo que este juego es el mejor y de lo que hace
        Descripción de por lo que este juego es el mejor y de lo que hace
        Descripción de por lo que este juego es el mejor y de lo que hace
        Descripción de por lo que este juego es el mejor y de lo que hace</p>
    </section>
    <script type="text/javascript" src="../../dynamics/js/pagPrin.js"></script><!-- SCRIPTS NECESARIOS PARA EL CORRECTO FUNCIONAMIENTO DE LA PÁGINA -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <noscript>
      <a href="https://www.javascript.com/"><img src="../../statics/media/img/script.jpg" alt="Es necesario Java Script para el funcionamiento de la página, gracias"></a>
    </noscript>
    <footer><!-- AGRADECIMINETOS Y DERECHOS DE AUTOR + COPYRIGHT -->
      <span>Ellon Musk Jason Smith Chrisler Super Styled Bannana Arcade te agradece por jugar con nosotros<br>
            Tiene nuestra preferencia<br>
            B)
      </span>
      <div class="copy">
        <p>Copyright © 2010 by E.M.J.S.C.S.S.B.A.</p>
        <span>All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying,
          recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied
          in critical reviews and certain other noncommercial uses permitted by copyright law. For permission requests, write to the publisher, addressed
           “Attention: Permissions Coordinator,” at the address below.</span>
      </div>
    </footer>
  </body>
</html>
