/*-----------FUENTES----------*/
@font-face {
  font-family: "Sansation";
  src: url(../libs/fontawesome/FONTS/Sansation_Regular.ttf);
}
@font-face {
  font-family: "Orbitron";
  src: url(../libs/fontawesome/FONTS/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Overlock-SC";
  src: url(../libs/fontawesome/FONTS/OverlockSC-Regular.ttf);
}
@font-face {
  font-family: "Overpass";
  src: url(../libs/fontawesome/FONTS/Overpass-Regular.ttf);
}
@font-face {
  font-family: "Inconsolata";
  src: url(../libs/fontawesome/FONTS/Inconsolata-VariableFont_wdthwght.ttf);
}
@font-face {
  font-family: "Chido";
  src: url(../libs/fontawesome/FONTS/MetalMania-Regular.ttf);
}
/*-------------MEDIA QUERI PARA EL ANCHO Y LA ORIENTACION INCORRECTOS-------------*/
@media screen and (max-width: 1800px) and (orientation: portrait){
  body{
    background-color: #3F4739;
  }
  footer{
    background-color: #EBEBEB;
    font-family: "Overpass";
  }
  header{
    background-color: #717568;
    position: relative;
    top: 0%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
  }
  header>section{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
  noscript>img{
    width: 100vw;
    height: auto;
  }
  /*----------TÍTULO------------*/
  .acronimo>span{
    font-size: 72px;
    text-decoration: underline;
    font-family: "Sansation";
    color: rgb(0, 0, 0);
  }
  /*----------SIGNIFICADO------------*/
  .meaning>span{
    font-size: 24px;
    font-family: "Orbitron";
    color: rgb(0, 0, 0);
  }
  .meaning>span:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);

  }
  /*----------NAV------------*/
  .nav{
    width: 94vw;
    height: auto;
    font-size: 48px;

  }
  .nav>nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFB347;
  }
  .nav>nav a{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Overlock-SC";
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .nav>nav a:active{
    color: rgb(255, 255, 255);
  }
  .cerrar{
    position: absolute;
    right: 60px;
  }
  .cerrar>img{
    width: 200px;
    height: auto;
  }
  .claro{
    background-color: #1D84B5;
  }
  .copy{
    text-align: right;
  }
  .descgame{
    font-family: "Inconsolata";
    font-size: 20px;
  }
  .juegotitulo{
    font-family: "Chido";
    font-size: 40px;
  }
  .title{
    text-align: center;
    width: 66vw;
    height: auto;
    padding: 2%;
    background-color: #5A189A;
  }
  .aviso{
    display: inherit;
    background-color: rgba(54, 54, 54, 0.9);
    margin-top: 25px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
  }
  .aviso>div img{
    width: 500px;
    transition: width 1.2s ease-in-out;
  }
  .creditsfield{
    display: none;
  }
}
/*-------------MEDIA QUERI PARA EL ANCHO INCORRECTO-------------*/
@media screen and (max-width: 1800px) and (orientation: landscape){
  body{
    background-color: #3F4739;
  }
  footer{
    background-color: #EBEBEB;
    font-family: "Overpass";
  }
  header{
    background-color: #717568;
    position: relative;
    top: 0%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
  }
  header>section{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
  noscript>img{
    width: 100vw;
    height: auto;
  }
  /*----------TÍTULO------------*/
  .acronimo>span{
    font-size: 72px;
    text-decoration: underline;
    font-family: "Sansation";
    color: rgb(0, 0, 0);
  }
  /*----------SIGNIFICADO------------*/
  .meaning>span{
    font-size: 24px;
    font-family: "Orbitron";
    color: rgb(0, 0, 0);
  }
  .meaning>span:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);

  }
  /*----------NAV------------*/
  .nav{
    width: 94vw;
    height: auto;
    font-size: 48px;

  }
  .nav>nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFB347;
  }
  .nav>nav a{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Overlock-SC";
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .nav>nav a:active{
    color: rgb(255, 255, 255);
  }
  .cerrar{
    position: absolute;
    right: 60px;
  }
  .cerrar>img{
    width: 200px;
    height: auto;
  }
  .claro{
    background-color: #1D84B5;
  }
  .copy{
    text-align: right;
  }
  .descgame{
    font-family: "Inconsolata";
    font-size: 20px;
  }
  .juegotitulo{
    font-family: "Chido";
    font-size: 40px;
  }
  .title{
    text-align: center;
    width: 66vw;
    height: auto;
    padding: 2%;
    background-color: #5A189A;
  }
  .aviso{
    display: inherit;
    background-color: rgba(54, 54, 54, 0.9);
    margin-top: 25px;
    margin-bottom: 50px;
    width: auto;
    height: auto;
  }
  .aviso>div img{
    width: 1000px;
    transition: width 1.2s ease-in-out;
  }
  .creditsfield{
    display: none;
  }
}
/*-------------MEDIA QUERI PARA EL ANCHO CORRECTO-------------*/
@media screen and (min-width: 1801px) and (orientation: landscape) {
  body{
    background-color: #3F4739;
    display: flex;
    flex-flow: column wrap;
  }
  footer{
    background-color: #EBEBEB;
    font-family: "Overpass";
  }
  header{
    background-color: #717568;
    position: relative;
    top: 0%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
  }
  header>section{
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }
  noscript>img{
    width: 100vw;
    height: auto;
  }
  /*----------TÍTULO------------*/
  .acronimo>span{
    font-size: 72px;
    text-decoration: underline;
    font-family: "Sansation";
    color: rgb(0, 0, 0);
  }
  /*----------SIGNIFICADO------------*/
  .meaning>span{
    font-size: 24px;
    font-family: "Orbitron";
    color: rgb(0, 0, 0);
  }
  .meaning>span:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);

  }
  /*----------NAV------------*/
  .nav{
    width: 94vw;
    height: auto;
    font-size: 48px;
  }
  .nav>nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFB347;
  }
  .nav>nav a{
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Overlock-SC";
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .nav>nav a:active{
    color: rgb(255, 255, 255);
  }
  .aviso{
    display: none;
  }
  .cerrar{
    position: absolute;
    right: 60px;
  }
  .cerrar>img{
    width: 200px;
    height: auto;
  }
  .claro{
    background-color: #1D84B5;
  }
  .copy{
    text-align: right;
  }
  /*-----------CREDITOS------------*/
  .creditsfield{
    width: 96vw;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: center;
  }
  /*-----------1EROS-------------*/
  .credits1{
    width: 100%;
    height: 700px;
    background-color: #FFB347;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    margin-bottom: 25px;
  }
  .credits1>.foto1{
    margin: 50px;
  }
  .credits1>.foto1 img{
    width: 800;
    height: 600px;
  }
  .credits1>.datos1{
    width: auto;
    height: 600px;
    align-self: flex-end;
    text-align: center;
    line-height: 1.0;
  }
  .credits1>.datos1 p{
    font-size: 2em;
    text-decoration: underline;
  }
  .credits1>.datos1 span .dato{
    font-size: 24px;
    text-decoration: none;
  }
  .credits1>.datos1 .logros{
    margin-left: 200px;
    margin-right: 200px;
  }
  .credits1>.datos1 .logros p{
    font-size: 4em;
    text-decoration: underline;
  }
  .credits1>.datos1 .logros span{
    font-size: 18px;
    text-decoration: none;
  }
  .credits1>.datos1 .logros .important{
    font-size: 24px;
    text-decoration: underline;
  }
  /*-----------2NDOS-------------*/
  .credits2{
    width: 100%;
    height: 700px;
    background-color: #FFB347;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .credits2>.foto2{
    margin: 50px;
  }
  .credits2>.foto2 img{
    width: auto;
    height: 600px;
  }
  .credits2>.datos2{
    width: auto;
    height: 600px;
    align-self: flex-end;
    text-align: center;
    line-height: 1.0;
  }
  .credits2>.datos2 p{
    font-size: 2em;
    text-decoration: underline;
  }
  .credits2>.datos2 span .dato{
    font-size: 24px;
    text-decoration: none;
  }
  .credits2>.datos2 .logros{
    margin-left: 200px;
    margin-right: 200px;
  }
  .credits2>.datos2 .logros p{
    font-size: 4em;
    text-decoration: underline;
  }
  .credits2>.datos2 .logros span{
    font-size: 18px;
    text-decoration: none;
  }
  .credits2>.datos2 .logros .important{
    font-size: 24px;
    text-decoration: underline;
  }
  /*-----------3ROS-------------*/
  .credits3{
    width: 100%;
    height: 700px;
    background-color: #FFB347;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .credits3>.foto3{
    margin: 50px;
  }
  .credits3>.foto3 img{
    width: auto;
    height: 600px;
  }
  .credits3>.datos3{
    width: auto;
    height: 600px;
    align-self: flex-end;
    text-align: center;
    line-height: 1.0;
  }
  .credits3>.datos3 p{
    font-size: 2em;
    text-decoration: underline;
  }
  .credits3>.datos3 span .dato{
    font-size: 24px;
    text-decoration: none;
  }
  .credits3>.datos3 .logros{
    margin-left: 200px;
    margin-right: 200px;
  }
  .credits3>.datos3 .logros p{
    font-size: 4em;
    text-decoration: underline;
  }
  .credits3>.datos3 .logros span{
    font-size: 18px;
    text-decoration: none;
  }
  .credits3>.datos3 .logros .important{
    font-size: 24px;
    text-decoration: underline;
  }
  /*-----------4TOS-------------*/
  .credits4{
    width: 100%;
    height: 700px;
    background-color: #FFB347;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .credits4>.foto4{
    margin: 50px;
  }
  .credits4>.foto4 img{
    width: auto;
    height: 600px;
  }
  .credits4>.datos4{
    width: auto;
    height: 600px;
    align-self: flex-end;
    text-align: center;
    line-height: 1.0;
  }
  .credits4>.datos4 p{
    font-size: 2em;
    text-decoration: underline;
  }
  .credits4>.datos4 span .dato{
    font-size: 24px;
    text-decoration: none;
  }
  .credits4>.datos4 .logros{
    margin-left: 200px;
    margin-right: 200px;
  }
  .credits4>.datos4 .logros p{
    font-size: 4em;
    text-decoration: underline;
  }
  .credits4>.datos4 .logros span{
    font-size: 18px;
    text-decoration: none;
  }
  .credits4>.datos4 .logros .important{
    font-size: 24px;
    text-decoration: underline;
  }
  /*-----------FIN DE LOS CRÉDITOS-----------*/
  .descgame{
    font-family: "Inconsolata";
    font-size: 20px;
  }
  .juegotitulo{
    font-family: "Chido";
    font-size: 40px;
  }
  .title{
    text-align: center;
    width: 66vw;
    height: auto;
    padding: 2%;
    background-color: #5A189A;
  }
  .titulo{
    width: 96vw;
    height: auto;
    padding: 2%;
    align-self: center;
    background-color: #5A189A;
    margin-top: 20px;
  }
  .titulo>h1{
    font-family: "Overlock-SC";
    font-size: 96px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline overline;
    border-left: 8px solid black;
    border-right: 8px solid black;
  }
}
